<header class="header">
  <div class="bloco-logo">
    <h1 class="logo">Connect Store</h1>
  </div>

  <div class="bloco-menu">
    <a>
      <i class="bi bi-house-door-fill"></i>
      <div class="separacao"></div>
      <p>Home</p>
    </a>
    <a>
      <i class="bi bi-bar-chart-steps"></i>
      <div class="separacao"></div>
      <p>Categorias</p>
    </a>
    <a>
      <i class="bi bi-border-width"></i>
      <div class="separacao"></div>
      <p>Consoles</p>
    </a>
    <a>
      <i class="bi bi-controller"></i>
      <div class="separacao"></div>
      <p>Jogos</p>
    </a>
  </div>

  <div class="bloco-usuario">
    <div class="carinho">
      <i class="bi bi-cart-fill"></i>
      <p>0</p>
    </div>
    <div class="usuario">
      <i class="bi bi-person-fill"></i>
      <p>Entrar</p>
    </div>
  </div>
</header>
