[type="file"] {
  height: 0;

  overflow: hidden;

  width: 0;

}

[type="file"] + label {
  background-color: var(--button-ver-mais);

  border: 1px solid var(--border-button-ver-mais);
  border-radius: 5px;

  color: var(--text-color);

  cursor: pointer;

  display: inline-block;

  font-family: 'Rubik', sans-serif;
	font-size: inherit;
  font-weight: 500;

  margin-bottom: 1rem;

  outline: none;

  padding: 1rem 50px;

  position: relative;

  transition: all 0.3s;

  vertical-align: middle;

}

.background-categoria {
  margin-top: 5%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

}

.background-categoria:before {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--gradient-background-1) 0,var(--gradient-background-2));
  content: "";
}

section {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 6.5%;
  margin-bottom: 2%;

  position: relative;

}

section .lista {
  width: 70%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  z-index: 1;

}

section .lista .bloco-dados {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

}

section .lista .bloco-dados .bloco-criar-categoria {
  padding: 0% 1%;
  margin-bottom: 1%;

  width: 98%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  background-color: transparent;

  border-radius: 5px;

  box-shadow: 0px 3px 10px -8px var(--box-shadow-button-card-add);

}

section .lista .bloco-dados .bloco-criar-categoria .img {
  width: 100%;
  height: auto;

}

section .lista .bloco-dados .bloco-criar-categoria .dados {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

}

section .lista .bloco-dados .bloco-criar-categoria .dados .nome {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

section .lista .bloco-dados .bloco-criar-categoria .dados .nome input {
  margin-bottom: 1%;
  padding: 1%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--backgraund-color-default);

  color: var(--text-color-qtd-resultados);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid var(--border-button-dropdown);

  text-transform: none;

  transition: background-color .2s ease,color .2s ease;

  outline: 0;

  border-radius: 5px;

}

section .lista .bloco-dados .bloco-criar-categoria .dados .valores {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

section .lista .bloco-dados .bloco-criar-categoria .dados .valores .desconto {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 0.5%;
}

section .lista .bloco-dados .bloco-criar-categoria .dados .valores .desconto input {
  margin-bottom: 1%;
  padding: 2%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--backgraund-color-default);

  color: var(--text-color-qtd-resultados);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid var(--border-button-dropdown);

  text-transform: none;

  transition: background-color .2s ease,color .2s ease;

  outline: 0;

  border-radius: 5px;

}

section .lista .bloco-dados .bloco-criar-categoria .dados .valores .preco {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-left: 0.5%;

}

section .lista .bloco-dados .bloco-criar-categoria .dados .valores .preco input {
  margin-bottom: 1%;
  padding: 2%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--backgraund-color-default);

  color: var(--text-color-qtd-resultados);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid var(--border-button-dropdown);

  text-transform: none;

  transition: background-color .2s ease,color .2s ease;

  outline: 0;

  border-radius: 5px;

}

section .lista .bloco-dados .bloco-criar-categoria .dados .selecao {
  margin-top: 0.5%;
  margin-bottom: 1%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .lista .bloco-dados .bloco-criar-categoria .dados .selecao select {
  padding: 1%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--backgraund-color-default);

  color: var(--text-color-qtd-resultados);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid var(--border-button-dropdown);

  text-transform: none;

  transition: background-color .2s ease,color .2s ease;

  outline: 0;

  border-radius: 5px;

  /* Arrow */
  appearance: none;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23ffffff" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;

}

section .lista .bloco-dados .bloco-criar-categoria .botao {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .lista .bloco-dados .bloco-criar-categoria .botao p {
  padding: 1.5%;

  width: 30%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--backgraund-color-default);

  color: var(--text-color-qtd-resultados);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid var(--border-button-dropdown);

  text-transform: none;

  transition: background-color .2s ease,color .2s ease;

  outline: 0;

  border-radius: 5px;

  transition: background-color, color, 0.3s linear;

  cursor: pointer;

}

section .lista .bloco-dados .bloco-criar-categoria .botao p:hover {
  background-color: var(--button-ver-mais);

  color: var(--text-color);

}

section .lista .bloco-dados .bloco-criar-categoria .pesquisa-dropdown {
  width: 100%;
  height: auto;

  display: flex;
  align-items: flex-start;
  justify-content: center;

}

section .lista .bloco-dados .bloco-criar-categoria .pesquisa-dropdown .dropdown {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;

}

section .lista .bloco-dados .bloco-criar-categoria .pesquisa-dropdown .dropdown .select {
  margin-bottom: 1%;
  margin-right: 1%;

  padding: 1%;

  width: 5%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--backgraund-color-default);

  color: var(--text-color-qtd-resultados);

  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;

  border: 1px solid var(--border-button-dropdown);

  text-transform: none;

  transition: background-color .2s ease,color .2s ease;

  outline: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

}

section .lista .bloco-dados .bloco-criar-categoria .pesquisa-dropdown .dropdown #console-selecao {
  border-radius: 5px;

}

section .lista .bloco-dados .bloco-criar-categoria .pesquisa-dropdown .dropdown #jogo-selecao {
  border-radius: 5px;

  width: auto !important;

}

section .lista .bloco-dados .bloco-criar-categoria .pesquisa-dropdown .dropdown .select .acao {
  cursor: pointer;

}

section .lista .bloco-dados .bloco {
  margin: 0px 10px;

  width: 18%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: var(--backgraund-color-card);

  border-radius: 5px;

  box-shadow: 0px 3px 10px -8px var(--box-shadow-button-card-add);

}

section .lista .bloco-dados .bloco .img {
  width: 100%;
  height: auto;

  border-radius: 5px 5px 0px 0px;

}

section .lista .bloco-dados .bloco .img img {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 5px 5px 0px 0px;

}

section .lista .bloco-dados .bloco .dados {
  padding: 3% 2.5% 2% 2.5%;
  margin-bottom: 10%;

  width: 92%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

section .lista .bloco-dados .bloco .dados .titulo {
  margin-bottom: 5px;

  width: 100%;
  height: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;

}

section .lista .bloco-dados .bloco .dados .console {
  width: 100%;
  height: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;

  color: var(--icon-consoles-2);

  display: flex;
  align-items: center;
  justify-content: flex-start;


}

section .lista .bloco-dados .bloco .dados .console i {
  margin-right: 3%;


}

section .lista .bloco-dados .bloco .valores {
  margin: 0% 0% 3% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

section .lista .bloco-dados .bloco .valores .desconto {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: auto;

  margin: 0% 0% 3% 3%;
  padding: 4% 2%;

  border: 1px solid var(--background-color-desconto);
  border-radius: 3px;

  background-color: var(--background-color-desconto);

  transition: background-color, 0.5s ease 0s;

  cursor: pointer;

  color: var(--text-color);

  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700 !important;

}

section .lista .bloco-dados .bloco .valores .botao {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: auto;

  margin: 0% 3% 3% 3%;
  padding: 4% 2%;


  border: 1px solid var(--border-button-add);
  border-radius: 3px;

  background-color: var(--button-valor-card);

  transition: background-color, 0.5s ease 0s;

  cursor: pointer;

  color: var(--text-color);

  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700 !important;

}

section .lista .bloco-dados .bloco .valores .botao:hover {
  border: 1px solid var(--button-valor-card-hover);

  background-color: var(--button-valor-card-hover);

}
