.img {
  width: 100%;
  height: auto;

  border-radius: 5px 5px 0px 0px;

  /*height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/

}

.img img {
  display: block;

  width: 100%;
  height: auto;

  border-radius: 5px 5px 0px 0px;

}

.dados {
  padding: 3% 2.5% 2% 2.5%;
  margin-bottom: 10%;

  width: 92%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.dados .titulo {
  margin-bottom: 5px;

  width: 100%;
  height: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;

}

.dados .console {
  width: 100%;
  height: auto;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;

  color: var(--icon-consoles-2);

  display: flex;
  align-items: center;
  justify-content: flex-start;


}

.dados .console i {
  margin-right: 3%;


}

.valores {
  margin: 0% 0% 3% 0%;

  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;

}

.valores .desconto {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30%;
  height: auto;

  margin: 0% 0% 3% 3%;
  padding: 4% 2%;

  border: 1px solid var(--background-color-desconto);
  border-radius: 3px;

  background-color: var(--background-color-desconto);

  transition: background-color, 0.5s ease 0s;

  cursor: pointer;

  color: var(--text-color);

  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700 !important;

}

.valores .botao {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90%;
  height: auto;

  margin: 0% 3% 3% 3%;
  padding: 4% 2%;


  border: 1px solid var(--border-button-add);
  border-radius: 3px;

  background-color: var(--button-valor-card);

  transition: background-color, 0.5s ease 0s;

  cursor: pointer;

  color: var(--text-color);

  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700 !important;

}

.valores .botao:hover {
  border: 1px solid var(--button-valor-card-hover);

  background-color: var(--button-valor-card-hover);

}
