<div *ngIf="!this.isEditar" class="background-categoria" style="background-image: url('{{this.servidor}}/{{this.classe}}/render/{{this.pasta}}/{{this.categoria.img}}');"></div>

<section *ngIf="!this.isEditar">
  <div class="lista">

    <div class="bloco-categoria">
      <div class="categoria">
        <h2>{{this.categoria.nome}}</h2>

        <div class="bloco-search">

          <div class="filtro">

            <div class="search">
              <input [(ngModel)]="this.nomeJogoPesquisa" type="search" placeholder="Buscar jogo ou palavra-chave" (change)='handleNomeJogo($event)' />
              <div class="botao-search">
                <i class="bi bi-search"></i>
              </div>
            </div>
          </div>

          <div class="footer">
            <div class="qtd-resultados">
              {{this.renderizaQtdItens(this.ajustaObjCategoria(this.categoria, this.idConsolePesquisa, this.precoJogoPesquisa, this.nomeJogoPesquisa))}} Resultados
            </div>
          </div>

          <div *ngIf="this.nomeJogoPesquisa == ''" class="pesquisa-dropdown">
            <div class="dropdown">
              <select name="plataforma" id="plataforma" (change)='handleIdConsole($event)'>
                <option value="0" [defaultSelected]="true" >Plataforma</option>
                <option *ngFor='let console of this.categoria.consoles' value="{{console.id}}">{{console.nome}}</option>
              </select>
              <select name="preco" id="preco" (change)='handlePrecoJogo($event)'>
                <option value="" [defaultSelected]="true" >Preço</option>
                <option value="5">Até R$5,00</option>
                <option value="10">Até R$10,00</option>
                <option value="15">Até R$15,00</option>
                <option value="20">Até R$20,00</option>
                <option value="25">Até R$25,00</option>
                <option value="50">Até R$50,00</option>
                <option value="100">Até R$100,00</option>
                <option value="160">Até R$160,00</option>
                <option value="500">Até R$500,00</option>
                <option value="0">Grátis</option>
              </select>
              <div class="editar" (click)="this.gerenciaBotaoEditar(true)" >
                Editar
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="bloco" *ngFor="let jogo of this.ajustaObjCategoria(this.categoria, this.idConsolePesquisa, this.precoJogoPesquisa, this.nomeJogoPesquisa).jogos">
        <div class="img">
          <img [src]="jogo.img" [alt]="jogo.nome" />
        </div>
        <div class="dados">
          <p class="titulo">
            {{this.ajustaTexto(jogo.nome)}}
          </p>
          <p class="console">
            <i *ngFor="let console of jogo.consoles" [class]="console.icone"></i>
          </p>
        </div>
        <div class="valores">
          <div *ngIf="jogo.desconto < 0" class="desconto">
            {{jogo.desconto}}%
          </div>
          <div class="botao">
            R$ {{jogo.preco}}
          </div>
        </div>
      </div>

    </div>

  </div>
</section>

<app-editar-categoria *ngIf="this.isEditar" [categoria]="this.categoria"></app-editar-categoria>
